<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617811791917-9bhi6mnd5f3s6krj301tpuvf9qnuj2se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617811791917-9bhi6mnd5f3s6krj301tpuvf9qnuj2se</string>
	<key>API_KEY</key>
	<string>AIzaSyCKoLa4N1DpSMtbCLkgr5NRdUpA8_mci5M</string>
	<key>GCM_SENDER_ID</key>
	<string>617811791917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexander.tsygankov.Marvel-Heroes</string>
	<key>PROJECT_ID</key>
	<string>marvel-heroes-a9615</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-heroes-a9615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617811791917:ios:25b545d0c6fe75d5d3a8a4</string>
</dict>
</plist>